<form class="bg-light" (ngSubmit)="onSubmit()">
    <div class="input-group">
        <input
            #messageInput
            type="text"
            placeholder="Type a message"
            name="messageInput"
            class="form-control rounded-0 border-0 py-4 bg-light"
        />
        <div class="input-group-append">
            <button
                type="submit"
                class="btn btn-light h-100 px-3 d-flex justify-content-center align-items-center"
            >
                <img
                    src="assets/img/sent-icon.svg"
                    width="30"
                    height="30"
                    alt="sent icon"
                />
            </button>
        </div>
    </div>
</form>
