<div class="bg-white">
    <div class="bg-gray px-4 py-2 bg-light">
        <p class="h5 mb-0 py-1">Recent</p>
    </div>

    <div class="messages-box">
        <div
            style="max-height: 90vh; overflow-y: scroll"
            class="list-group rounded-0"
        >
            <app-recent-card
                *ngFor="let chat of chats"
                [names]="chat.names"
                [lastMessageDate]="chat.lastMessageDate"
                [lastMessage]="chat.lastMessage"
                [linkToChat]="chat.room"
            ></app-recent-card>
        </div>
    </div>
</div>
