<div class="dropdown">
    <form>
        <div class="form-group">
            <input
                #searchInput
                type="search"
                class="form-control"
                placeholder="Username"
            />
        </div>
    </form>
    <div
        class="dropdown-menu show"
        *ngIf="isOpenDropdown"
        (click)="onDropdown($event)"
    >
        <div *ngFor="let user of searchResults">
            <button class="dropdown-item" [id]="user._id">
                {{ user.name }} (ID {{ user._id }})
            </button>
            <div class="dropdown-divider"></div>
        </div>
    </div>
</div>
